<div class="main-container" ng-class="{active: simplePopup || feedbackPopupJava || feedbackPopupTest || popupGallery, newone: mapPopup}">

    <div class="main-container__top">
        <header class="main-container__header">
            <div class="container">
                <div class="top-site">
                    <a href="/" class="top-site__logo">
                        <div style="width: 180px; margin-right: 24px">
                            <img src="../images/azbookaLogo.svg" alt="">
                        </div>
          </a>

                    <div class="top-site__menu">
                        <div class="top-site__burger" ng-click="mobileMenu = mobileMenu ? false : true"></div>
                        <nav class="main-navigation" ng-class="{active: mobileMenu}">
                            <a href="#who-we-are" class="main-navigation__link" ng-click="goTo('who-id')">
                О нас
              </a>
                            <a href="#internship" class="main-navigation__link" ng-click="goTo('internship')">
                Стажировки
              </a>
                            <a href="#vacancy" class="main-navigation__link" ng-click="goTo('vacancy')">
                Вакансии
              </a>
                            <a href="tel:73112875444" class="main-navigation__link">
                +7 (11) 222 54 44
              </a>
                        </nav>

                    </div>
                </div>
            </div>
        </header>

        <div class="main-container__promo">
            <div class="container">
                <section class="main-screen">
                    <section class="main-screen__head">
                        <h1 class="main-screen__title">
                            Разрабатываем высоконагруженные информационные системы для бизнеса и государства
                        </h1>

                        <section class="main-screen__content tag-cloud">
                            <h2 class="tag-cloud__title">
                                С помощью
                            </h2>
                            <div class="tag-cloud__items tag-cloud__items-main">
                                <div class="tag-cloud__unit">
                                    Java
                                </div>
                                <div class="tag-cloud__unit">
                                    Oracle Database
                                </div>
                                <div class="tag-cloud__unit">
                                    PostgreSQL
                                </div>
                                <div class="tag-cloud__unit">
                                    Spring
                                </div>
                                <div class="tag-cloud__unit">
                                    IMDG
                                </div>
                                <div class="tag-cloud__unit">
                                    Hadoop
                                </div>
                                <div class="tag-cloud__unit">
                                    Angular JS
                                </div>
                                <div class="tag-cloud__unit">
                                    React
                                </div>
                                <div class="tag-cloud__unit">
                                    Elasticsearch
                                </div>
                                <div class="tag-cloud__unit">
                                    Kibana
                                </div>
                            </div>
                        </section>

                    </section>

                    <aside class="main-screen__side aside-container">
                        <h2 class="aside-container__title">
                            Расскажите нам про вашу задачу — возможно мы сможем помочь вам!
                        </h2>

                        <div class="aside-container__btn-container">
                            <a class="aside-container__btn" ng-click="simplePopup = simplePopup ? false : true">
                Рассказать
              </a>
                        </div>
                    </aside>

                </section>
            </div>
        </div>
    </div>

    <main class="main-container__content" id="who-we-are">
        <section id="who-id">
            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h2 class="info-about__title">
                            Кто мы и что мы делаем
                        </h2>
                        <p>
                            Мы — azbooka, IT-компания из Екатеринбурга. Мы разрабатываем высоконагруженные и отказоустойчивые решения для крупных российских и зарубежных заказчиков. Прогрессивный стек, десятки тысяч запросов в секунду, терабайты данных. У нас всегда найдется проект
                            с новым вызовом.
                        </p>
                        <p>
                            Зачем тебе к нам:
                        </p>
                        <p>
                            — Мы стремимся развивать технические компетенции в каждом сотруднике.
                        </p>
                        <p>
                            — У нас крупные российские и зарубежные заказчики, с которыми мы работаем уже много лет. Взаимодействуем с заказчиком напрямую, нас слышат!
                        </p>
                        <p>
                            — Мы маленькие (40+ человек) и гибкие, но при этом работаем над серьезными и зачастую инновационными проектами в масштабах всей страны.
                        </p>
                        <p>
                            — У нас неформальное и близкое общение, мы за прямые короткие коммуникации (в том числе с директором) и против бесконечных совещаний.
                        </p>
                        <p>
                            — Мы открыто говорим о проблемах и вместе находим решения.
                        </p>
                        <p>
                            — Мы создаем друг для друга благоприятную обстановку для работы, поддерживаем хорошие отношения внутри команды.
                        </p>

                    </article>

                </div>
            </div>
        </section>

        <div class="show-mobile our-hr">
            <div class="our-hr__img">
                <img src="images/hr-photo.jpg" alt="Мария Шаповалова - HR">
            </div>
            <div class="our-hr__content">
                <h2 class="our-hr__head">
                    Мария Шаповалова
                </h2>
                <div class="our-hr__position">
                    HR
                </div>
                <div class="our-hr__simple-text">
                    Больше вакансий по ссылке: <a href="https://clck.ru/aijKR">https://clck.ru/aijKR</a>
                </div>
                <div class="our-hr__simple-text">
                    Email: <a href="mailto:job@azbooka.ru">job@azbooka.ru</a>
                </div>
                <div class="our-hr__simple-text">
                    Мобильный номер и Telegram:
                    <a href="tel:89514774067" class="no-color">+79514774067</a>
                </div>
            </div>
        </div>

        <section id="internship">
            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h2 class="info-about__title">
                            Стажировка java-разработчиков в нашей компании
                        </h2>
                        <p>
                            Приглашаем студентов и выпускников ВУЗов(в приоритете - студенты или выпускники профильных IT-специальностей) на оплачиваемую стажировку java-разработчиков с перспективой дальнейшего трудоустройства.
                        </p>
                        <p>
                            Тебя ждёт четыре месяца интенсивного обучения, которое позволит усвоить все основы, необходимые для разработки распределенных отказоустойчивых и нагруженных информационных систем.
                        </p>
                        <p>
                            Совместно с наставником ты будешь работать над созданием реальной высоконагруженной системы, настраивать мониторинг и проводить тестирование.
                        </p>
                        <p>
                            Мы составили базу знаний для погружения в теоретическую часть. Она включает в себя интенсивы по использованию СУБД и ORM, основы многопоточного асинхронного программирования, проектирования распределенных систем и многое другое.
                        </p>
                        <p>А еще мы занимаемся созданием программ стажировок системных аналитиков и инженеров по тестированию.</p>
                        <p>Отправляй свою заявку на: <a href="mailto:job@azbooka.ru">job@azbooka.ru</a></p>
                    </article>
                </div>
            </div>
        </section>

        <section id="vacancy">

            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h2 class="info-about__title">
                            Инженер по тестированию
                        </h2>
                        <div class="info-about__cloun-block tag-cloud">
                            <div class="tag-cloud__items">
                                <div class="tag-cloud__unit">
                                    Вакансия
                                </div>
                            </div>
                        </div>
                        <p>
                            В ближайшие несколько лет качество разрабатываемого программного обеспечения может стать основным и, возможно, единственным конкурентным фактором среди IT-компаний, мы стремимся сделать это нашим ключевым преимуществом. Если ты разделяешь эту точку зрения,
                            то мы будем рады видеть тебя в нашей команде!
                        </p>
                        <p class="paragraph-no-indent">
                            Тебе нужно будет заниматься
                        </p>
                        <ul class="marker-li">
                            <li class="marker-li__item">
                                написанием чек-листов, тест-кейсов;
                            </li>
                            <li class="marker-li__item">
                                отслеживанием и описанием найденных багов;
                            </li>
                            <li class="marker-li__item">
                                функциональным, регрессионным, интеграционным тестированием;
                            </li>
                            <li class="marker-li__item">
                                участвовать в развитии процессов тестирования: упрощать и ускорять процесс тестирования на проекте и в целом в компании;
                            </li>
                            <li class="marker-li__item">
                                в перспективе ты сможешь переключиться на автотестирование.
                            </li>
                        </ul>

                        <p class="paragraph-no-indent">
                            Технологический стек наших проектов
                        </p>
                        <p>
                            Java SE, Spring Framework, Linux, PostgreSQL, Hazelcast, Docker, Apache Kafka, S3 - хранилища. CI, CD, мониторинг - TeamCity, Ansible, ELK, Prometheus, Grafana. K8s - оркестрация.
                        </p>
                        <p class="paragraph-no-indent">
                            Будет отлично, если ты владеешь инструментами тестирования, которые мы используем
                        </p>

                        <ul class="marker-li">
                            <li class="marker-li__item">
                                Kibana — работа с логами;
                            </li>
                            <li class="marker-li__item">
                                TestRail — ведение тестовой документации;
                            </li>
                            <li class="marker-li__item">
                                DevTools, Postman — для ручного тестирования;
                            </li>
                            <li class="marker-li__item">
                                Java, jUnit/TestNG, Maven, Allure — для автотестирования.
                            </li>
                        </ul>

                        <p class="paragraph-no-indent">
                            Что мы ждем от тебя
                        </p>

                        <ul class="marker-li">
                            <li class="marker-li__item">
                                опыт тестирования бекенда;
                            </li>
                            <li class="marker-li__item">
                                опыт разработки тестовой документации: тест-кейсов, чек-листов;
                            </li>
                            <li class="marker-li__item">
                                хорошее понимание процессов разработки и жизненного цикла ПО;
                            </li>
                            <li class="marker-li__item">
                                аналитический склад ума, аккуратность, внимательность;
                            </li>
                            <li class="marker-li__item">
                                знание SQL от уровня написания простых запросов, опыт работы с БД: Oracle, PostgreSQL;
                            </li>
                            <li class="marker-li__item">
                                умение работать с XML и JSON;
                            </li>
                            <li class="marker-li__item">
                                умение работать с системами контроля версий (Git).
                            </li>
                        </ul>

                        <p class="paragraph-no-indent">
                            Детали
                        </p>

                        <ul class="marker-li">
                            <li class="marker-li__item">
                                Трудоустраиваем с первого дня, зарплата белая.
                            </li>
                            <li class="marker-li__item">
                                Удаленная работа или работа в офисе в центре Екатеринбурга на твой выбор.
                            </li>
                            <li class="marker-li__item">
                                График гибкий. Мы начинаем во сколько удобно и не считаем часы за работой. Мы готовы к сдвигам в графике, если это не мешает взаимодействию и результату.
                            </li>
                            <li class="marker-li__item">
                                Мы подключаем сотрудников к ДМС после испытательного срока.
                            </li>
                            <li class="marker-li__item">
                                Есть бюджет на обучение.
                            </li>
                        </ul>
                    </article>

                </div>
            </div>

            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h2 class="info-about__title">
                            Системный аналитик
                        </h2>
                        <div class="info-about__cloun-block tag-cloud">
                            <div class="tag-cloud__items">
                                <div class="tag-cloud__unit">
                                    Вакансия
                                </div>
                            </div>
                        </div>

                        <p>
                            Основная ценность наших аналитиков — это отличная техническая и профессиональная экспертиза. Чем глубже ты разбираешься в устройстве информационных систем, паттернах проектирования и современных технологических решениях — тем круче!
                        </p>
                        <p class="paragraph-no-indent">
                            Чем предстоит заниматься
                        </p>

                        <ul class="marker-li">
                            <li class="marker-li__item">
                                Изучать и уточнять бизнес-постановки (общаться с командой заказчика, исследовать данные и предметную область, изучать нормативно-правовую базу).
                            </li>
                            <li class="marker-li__item">
                                Ставить постановки в разработку (подробно в Confluence и кратко в Jira).
                            </li>
                            <li class="marker-li__item">
                                Участвовать в проектировании структур данных и архитектуры компонентов.
                            </li>
                            <li class="marker-li__item">
                                Взаимодействовать с разработчиками в части реализации компонентов решения.
                            </li>
                            <li class="marker-li__item">
                                Участвовать в тестировании, взаимодействовать со специалистами по тестированию в части валидации бизнес-кейсов и контрольных примеров.
                            </li>
                            <li class="marker-li__item">
                                Участвовать в проведении в демонстрационных показах заказчику.
                            </li>
                            <li class="marker-li__item">
                                Участвовать в опытных и приемочных испытаниях.
                            </li>
                        </ul>

                        <p class="paragraph-no-indent">
                            Технологический стек наших проектов:
                        </p>
                        <p>
                            Знать не обязательно, но вот с чем предстоит работать: Spark, HDFS, HBase/Phoenix, Clickhouse, PostgreSQL, Elasticsearch, Kafka, Scala и Java, Kubernetes, RESTful JSON API, Zeppelin
                        </p>

                        <p class="paragraph-no-indent">
                            Что мы ожидаем от тебя
                        </p>

                        <ul class="marker-li">
                            <li class="marker-li__item">
                                Наличие релевантного опыта участия в промышленной разработке систем, с внедрением и эксплуатацией.
                            </li>
                            <li class="marker-li__item">
                                Системное мышление, скрупулезный и структурированный подход, умение выделять главное и расставлять приоритеты.
                            </li>
                            <li class="marker-li__item">
                                Умение вести емкую и понятную документацию.
                            </li>
                            <li class="marker-li__item">
                                Умение ставить емкие и понятные задачи в разработку и тестирование.
                            </li>
                            <li class="marker-li__item">
                                Готовность погружаться в технические детали.
                            </li>
                            <li class="marker-li__item">
                                Понимание сервис-ориентированной архитектуры информационных систем, взаимодействия между компонентами.
                            </li>
                            <li class="marker-li__item">
                                Умение писать "средние" sql-запросы (join, subquery, агрегатные функции, хорошо если есть опыт использования оконных функций).
                            </li>
                        </ul>


                        <p class="paragraph-no-indent">
                            Детали
                        </p>

                        <ul class="marker-li">
                            <li class="marker-li__item">
                                Трудоустраиваем с первого дня, зарплата белая.
                            </li>
                            <li class="marker-li__item">
                                Удаленная работа или работа в офисе в центре Екатеринбурга на твой выбор.
                            </li>
                            <li class="marker-li__item">
                                График гибкий. Мы начинаем во сколько удобно и не считаем часы за работой. Мы готовы к сдвигам в графике, если это не мешает взаимодействию и результату.
                            </li>
                            <li class="marker-li__item">
                                Мы подключаем сотрудников к ДМС после испытательного срока.
                            </li>
                            <li class="marker-li__item">
                                Есть бюджет на обучение.
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
        </section>
    </main>

    <footer class="main-container__footer">
        <div class="container">
            <div class="footer-site">
                <div class="footer-site__copyright">
                    &#169; 2022 azbooka
                </div>

                <div class="footer-site__links">
                    <nav class="footer-site__nav footer-links">
                        <a href="#who-we-are" class="footer-links__item" ng-click="goTo('who-id')">
              О нас
            </a>
                        <a href="#internship" class="footer-links__item" ng-click="goTo('internship')">
              Стажировки
            </a>
                        <a href="#vacancy" class="footer-links__item" ng-click="goTo('vacancy')">
              Вакансии
            </a>
                        <a href="tel:88002000600" class="footer-links__item">
              +7 (343) 287 54 44
            </a>
                    </nav>

                </div>

            </div>
            <div class="thankyou__message">
                <span>
          Ваше сообщение отправлено. Скоро мы свяжемся с Вами!
        </span>
            </div>
        </div>
    </footer>

    <div class="simple-popup" ng-class="{active: simplePopup}">
        <div class="form-elements">
            <div class="simple-popup__header">
                <h2>Новое сообщение</h2>
                <div class="simple-popup__close" ng-click="simplePopup = false">&times;</div>
            </div>
            <form id="form_top" class="gform simple-form">
                <!--method="POST" action="https://script.google.com/macros/s/AKfycbyRmbET_mP_qKUdCCz7vsniiqqd5SGyB7-ST3Lt3g/exec"-->
                <div class="form-elements">
                    <fieldset class="simple-form__line">
                        <label for="name" class="simple-form__label">
            Ваше имя
          </label>
                        <input type="text" name="name" id="name" class="simple-form__input">
                    </fieldset>
                    <fieldset class="simple-form__line">
                        <label for="email" class="simple-form__label">
            Ваши контакты
          </label>
                        <input type="tel" name="email" id="email" class="simple-form__input">
                    </fieldset>
                    <fieldset class="simple-form__line">
                        <label for="message" class="simple-form__label">
            Ваше сообщение
          </label>
                        <textarea name="message" id="message" class="simple-form__textarea"></textarea>
                    </fieldset>
                    <button class="aside-container__btn aside-container__btn_flex" onclick="sendEmail()" ng-click="simplePopup = false">
          Отправить сообщение
        </button>
                </div>
            </form>
        </div>

        <div class="simple-popup simple-popup_map" ng-class="{active: mapPopup}">
            <div class="simple-popup__close simple-popup__close_map" ng-click="mapPopup = false">
                <a>&times;</a>
            </div>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ah0oMIbLE0GItxYfFXYYGeX5Qay2uUGu_&amp;width=100%&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>

        <div class="simple-popup simple-popup_feedback" ng-class="{active: feedbackPopupJava}">
            <div class="popup-feedback__header">
                <div class="popup-feedback__img">
                    <img src="images/interns-d-morozov.jpg" alt="Даниил Мазалов - разработчик Java">
                </div>
                <div class="popup-feedback__person">
                    <h2 class="popup-feedback__head">
                        Даниил Мазалов
                    </h2>
                    <div class="popup-feedback__position">
                        разработчик Java
                    </div>
                </div>
                <div class="simple-popup__close popup-feedback__close" ng-click="feedbackPopupJava = false">×</div>
            </div>
            <div class="popup-feedback__block-text">
                <p>Пришёл в компанию год назад на стажировку абсолютно без опыта лишь с хорошими, в основном теоретическими, знаниями о программировании</p>
                <p>Я был полон энтузиазма изучать новое, и, видимо, в том числе и этим понравился на собеседовании)</p>
                <p>Команда приняла очень тепло, глядя на них хотелось и до сих пор хочется развиваться дальше)</p>
                <p>Тимлид в любую минуту приходил на помощь</p>
                <p>Так за три месяца стажировки я приобрёл колоссальный опыт, благодаря которому можно было смело назвать себя джуниором</p>
                <p>После стажировки получил предложение остаться и с радостью принял его, с этих пор ни разу не пожалел</p>
                <p>За этот год удалось поработать в разных проектах, узнал множество технологий</p>
                <p>Спустя почти год тимлид говорит, что теперь я могу позиционировать себя как full-stack</p>
                <p>Обстановка в коллективе прекрасная, мы все друзья и это помогает в работе</p>
                <p>Все ответственные и дружелюбные</p>
                <p>Рад, что год назад пришёл на стажировку и ещё больше рад тому, что теперь я могу внести большой в клад в общее дело и почувствовать, что моя роль важна для команды</p>
            </div>
        </div>

        <div class="simple-popup simple-popup_feedback" ng-class="{active: feedbackPopupTest}">
            <div class="popup-feedback__header">
                <div class="popup-feedback__img">
                    <img src="images/interns-k-lyapina.jpg" alt="Ксюша Ляпина - тестировщик">
                </div>
                <div class="popup-feedback__person">
                    <h2 class="popup-feedback__head">
                        Ксюша Ляпина
                    </h2>
                    <div class="popup-feedback__position">
                        тестировщик
                    </div>
                </div>
                <div class="simple-popup__close popup-feedback__close" ng-click="feedbackPopupTest = false">×</div>
            </div>
            <div class="popup-feedback__block-text">
                <p>Пришла на стажировку с маленьким опытом. И вот уже второй год живу вместе с компанией)</p>
                <p>Коллектив встретил очень тепло. Каждый был готов помочь разбораться, объяснить.</p>
                <p>Каждый влюблен в свою работу, каждый переживает за общее дело, поэтому глядя на таких людей работается безусловно спокойнее и интереснее</p>
                <p>И вот за этот год собственные профессиональные навыки выросли вместе с компанией)</p>
                <p>Приятно работать и наблюдать, как компания становится все больше и, безусловно, чувствовать, какой весомый вклад ты вносишь)</p>
                <p>Невероятная удача, когда повезло и с работой, и с коллективом))</p>
            </div>
        </div>

        <!-- Delete comments when update photos
  <div class="simple-popup simple-popup_gallery" ng-class="{active: popupGallery}">
    <div class="popup-gallery__carousel">
      <img class="carousel__img" src="images/kitty_1.jpg" alt="Котики">
      <img class="carousel__img" src="images/kitty_2.jpg" alt="Котики">
      <img class="carousel__img" src="images/kitty_3.jpg" alt="Котики">
      <img class="carousel__img" src="images/kitty_4.jpg" alt="Котики">
      <img class="carousel__img" src="images/kitty_5.jpg" alt="Котики">
    </div>
    <div class="carousel__btns">
      <div class="carousel__btn-bg-left">
        <button class="carousel__btn-left"></button>
      </div>
      <div class="carousel__btn-bg-right">
        <button class="carousel__btn-right"></button>
      </div>

    </div>
    <div class="simple-popup__close simple-popup__close_map" ng-click="popupGallery = false">
      <a>×</a></div>
  </div>
      -->

        <script>
            $(function() {
                $('.popup-gallery__carousel img:gt(0)').hide();
                $('.carousel__btn-bg-right').click(function() {
                    $('.popup-gallery__carousel :first-child').fadeOut()
                        .next('img').fadeIn()
                        .end().appendTo('.popup-gallery__carousel');
                });
                $('.carousel__btn-bg-left').click(function() {
                    $('.popup-gallery__carousel :first-child').fadeOut()
                        .prev('img').fadeIn()
                        .end().appendTo('.popup-gallery__carousel');
                });
            });
        </script>