<div class="main-container"
     ng-class="{active: simplePopup || feedbackPopupJava || feedbackPopupTest || popupGallery, newone: mapPopup}">
    <div class="main-container__up ">
        <div class="main-container__top">
            <header class="main-container__header">
                <div class="container">
                    <div class="top-site">
                        <a href="/" class="top-site__logo">
                            <div style="width: 235px; margin-right: 24px">
                                <img src="../images/azbookaLogo.svg" alt="">
                            </div>
                        </a>
                        <div class="connect__btn">
                            <a class="aside-container__btn" ng-click="simplePopup = simplePopup ? false : true">
                                &#9993; Связаться
                            </a>
                        </div>
                    </div>
                </div>
            </header>

            <div class="main-container__promo">
                <div class="container">
                    <section class="main-screen">
                        <section class="main-screen__head">
                            <h1 class="main-screen__title">
                                Профессиональная Scrum команда для вашего проекта.
                            </h1>
                            <h1 class="tag-cloud__title">
                                Используем:
                            </h1>
                            <div class="tag-cloud__items tag-cloud__items-main">
                                <div class="tag-cloud__unit">
                                    C#
                                </div>    
                                <div class="tag-cloud__unit">
                                    WPF
                                </div>
                                <div class="tag-cloud__unit">
                                    ASP.NET Core
                                </div>
                                <div class="tag-cloud__unit">
                                    MVVM
                                </div>
                                <div class="tag-cloud__unit">
                                    MVC
                                </div>
                                <div class="tag-cloud__unit">
                                    JavaScript
                                </div>
                                <div class="tag-cloud__unit">
                                    React
                                </div>
                                <div class="tag-cloud__unit">
                                    PostgreSQL
                                </div>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <main class="main-container__content" id="who-we-are">
        <section id="who-id1">
            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h1 class="info-about__title">
                            Кто мы и что делаем
                        </h1>
                        <p>
                            Мы IT-компания из Екатеринбурга.
                            Мы разрабатываем программное обеспечение для российских и
                            зарубежных заказчиков.
                        </p>
                        <p>
                            Зачем тебе к нам:
                        </p>
                        <p>
                            — Используем современный подходы разработки. Планируем и тесно взаимодействуем с заказчиком в рамках спринтов.
                            Заказчик видит за что он платит.
                        </p>
                        <p>
                            — Помимо разработки под заказ у нас есть свои продукты, которые пользуются спросом на рынке.
                        </p>
                        <p>
                            — У нас небольшая команда, но при этом мы работаем над серьезными и инновационные проектами в масштабах всей страны.
                        </p>
                        <p>
                            — Мы открыто говорим о проблемах и вместе находим решения.
                        </p>
                    </article>
                </div>
            </div>
        </section>

        <section id="who-id">
            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h1 class="info-about__title">
                            Стажировка в нашей компании
                        </h1>
                        <p>
                            Приглашаем студентов и выпускников ВУЗов на стажировку C#-разработчиков с перспективой дальнейшего
                            трудоустройства.
                        </p>
<!--                        <p>-->
<!--                            Тебя ждёт четыре месяца интенсивного обучения, которое позволит усвоить все основы,-->
<!--                            необходимые для разработки распределенных отказоустойчивых и нагруженных информационных-->
<!--                            систем.-->
<!--                        </p>-->
<!--                        <p>-->
<!--                            Совместно с наставником ты будешь работать над созданием реальной высоконагруженной системы,-->
<!--                            настраивать мониторинг и проводить тестирование.-->
<!--                        </p>-->
<!--                        <p>-->
<!--                            Мы составили базу знаний для погружения в теоретическую часть.-->
<!--                            Она включает в себя интенсивы по использованию СУБД и ORM, основы многопоточного-->
<!--                            асинхронного программирования, проектирования распределенных систем и многое другое.-->
<!--                        </p>-->
<!--                        <p>А еще мы занимаемся созданием программ стажировок системных аналитиков и инженеров по-->
<!--                            тестированию.</p>-->
<!--                        <p>Отправляй свою заявку на: <a href="azbooka.ru">job@azbooka.ru</a></p>-->
                    </article>

                </div>
            </div>
        </section>

        <section id="internship">
            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h1 class="info-about__title">
                            .NET разработчик
                        </h1>
                        <div class="info-about__cloun-block tag-cloud">
                            <div class="tag-cloud__items">
                                <div class="tag-cloud__unit">
                                    Вакансия
                                </div>
                            </div>
                        </div>
                        <p>
                            В ближайшие несколько лет качество разрабатываемого программного обеспечения может стать
                            основным и, возможно, единственным конкурентным фактором среди IT-компаний, мы стремимся
                            сделать это нашим ключевым преимуществом. Если ты разделяешь эту точку зрения, то мы будем
                            рады видеть тебя в нашей команде!
                        </p>
<!--                        <p class="paragraph-no-indent">-->
<!--                            Тебе нужно будет заниматься-->
<!--                        </p>-->
<!--                        <ul class="marker-li">-->
<!--                            <li class="marker-li__item">-->
<!--                                написанием чек-листов, тест-кейсов;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                отслеживанием и описанием найденных багов;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                функциональным, регрессионным, интеграционным тестированием;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                участвовать в развитии процессов тестирования: упрощать и ускорять процесс тестирования-->
<!--                                на проекте и в целом в компании;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                в перспективе ты сможешь переключиться на автотестирование.-->
<!--                            </li>-->
<!--                        </ul>-->

<!--                        <p class="paragraph-no-indent">-->
<!--                            Технологический стек наших проектов-->
<!--                        </p>-->
<!--                        <p>-->
<!--                            Java SE, Spring Framework, Linux, PostgreSQL, Hazelcast, Docker, Apache Kafka, S3 - -->
<!--                            хранилища. CI, CD, мониторинг - TeamCity, Ansible, ELK, Prometheus, Grafana. K8s - -->
<!--                            оркестрация.-->
<!--                        </p>-->
<!--                        <p class="paragraph-no-indent">-->
<!--                            Будет отлично, если ты владеешь инструментами тестирования, которые мы используем-->
<!--                        </p>-->

<!--                        <ul class="marker-li">-->
<!--                            <li class="marker-li__item">-->
<!--                                Kibana — работа с логами;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                TestRail — ведение тестовой документации;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                DevTools, Postman — для ручного тестирования;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Java, jUnit/TestNG, Maven, Allure — для автотестирования.-->
<!--                            </li>-->
<!--                        </ul>-->

<!--                        <p class="paragraph-no-indent">-->
<!--                            Что мы ждем от тебя-->
<!--                        </p>-->

<!--                        <ul class="marker-li">-->
<!--                            <li class="marker-li__item">-->
<!--                                опыт тестирования бекенда;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                опыт разработки тестовой документации: тест-кейсов, чек-листов;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                хорошее понимание процессов разработки и жизненного цикла ПО;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                аналитический склад ума, аккуратность, внимательность;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                знание SQL от уровня написания простых запросов, опыт работы с БД: Oracle, PostgreSQL;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                умение работать с XML и JSON;-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                умение работать с системами контроля версий (Git).-->
<!--                            </li>-->
<!--                        </ul>-->

<!--                        <p class="paragraph-no-indent">-->
<!--                            Детали-->
<!--                        </p>-->

<!--                        <ul class="marker-li">-->
<!--                            <li class="marker-li__item">-->
<!--                                Трудоустраиваем с первого дня, зарплата белая.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Удаленная работа или работа в офисе в центре Екатеринбурга на твой выбор.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                График гибкий. Мы начинаем во сколько удобно и не считаем часы за работой. Мы готовы к-->
<!--                                сдвигам в графике, если это не мешает взаимодействию и результату.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Мы подключаем сотрудников к ДМС после испытательного срока.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Есть бюджет на обучение.-->
<!--                            </li>-->
<!--                        </ul>-->
                    </article>
                </div>
            </div>

        </section>
        <section id="internship">
            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h1 class="info-about__title">
                            Frontend разработчик
                        </h1>
                        <div class="info-about__cloun-block tag-cloud">
                            <div class="tag-cloud__items">
                               <div class="tag-cloud__unit">
                                   Вакансия
                                </div>
                            </div>
                        </div>

                        <p>
                            Основная ценность наших аналитиков — это отличная техническая и профессиональная экспертиза.
                            Чем глубже ты разбираешься в устройстве информационных систем, паттернах проектирования и
                            современных технологических решениях — тем круче!
                        </p>
<!--                        <p class="paragraph-no-indent">-->
<!--                            Чем предстоит заниматься-->
<!--                        </p>-->

<!--                        <ul class="marker-li">-->
<!--                            <li class="marker-li__item">-->
<!--                                Изучать и уточнять бизнес-постановки (общаться с командой заказчика, исследовать данные-->
<!--                                и предметную область, изучать нормативно-правовую базу).-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Ставить постановки в разработку (подробно в Confluence и кратко в Jira).-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Участвовать в проектировании структур данных и архитектуры компонентов.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Взаимодействовать с разработчиками в части реализации компонентов решения.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Участвовать в тестировании, взаимодействовать со специалистами по тестированию в части-->
<!--                                валидации бизнес-кейсов и контрольных примеров.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Участвовать в проведении в демонстрационных показах заказчику.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Участвовать в опытных и приемочных испытаниях.-->
<!--                            </li>-->
<!--                        </ul>-->

<!--                        <p class="paragraph-no-indent">-->
<!--                            Технологический стек наших проектов:-->
<!--                        </p>-->
<!--                        <p>-->
<!--                            Знать не обязательно, но вот с чем предстоит работать:-->
<!--                            Spark, HDFS, HBase/Phoenix, Clickhouse, PostgreSQL, Elasticsearch, Kafka, Scala и Java,-->
<!--                            Kubernetes, RESTful JSON API, Zeppelin-->
<!--                        </p>-->

<!--                        <p class="paragraph-no-indent">-->
<!--                            Что мы ожидаем от тебя-->
<!--                        </p>-->

<!--                        <ul class="marker-li">-->
<!--                            <li class="marker-li__item">-->
<!--                                Наличие релевантного опыта участия в промышленной разработке систем, с внедрением и-->
<!--                                эксплуатацией.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Системное мышление, скрупулезный и структурированный подход, умение выделять главное и-->
<!--                                расставлять приоритеты.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Умение вести емкую и понятную документацию.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Умение ставить емкие и понятные задачи в разработку и тестирование.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Готовность погружаться в технические детали.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Понимание сервис-ориентированной архитектуры информационных систем, взаимодействия между-->
<!--                                компонентами.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Умение писать "средние" sql-запросы (join, subquery, агрегатные функции, хорошо если-->
<!--                                есть опыт использования оконных функций).-->
<!--                            </li>-->
<!--                        </ul>-->


<!--                        <p class="paragraph-no-indent">-->
<!--                            Детали-->
<!--                        </p>-->
<!--                        <ul class="marker-li">-->
<!--                            <li class="marker-li__item">-->
<!--                                Трудоустраиваем с первого дня, зарплата белая.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Удаленная работа или работа в офисе в центре Екатеринбурга на твой выбор.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                График гибкий. Мы начинаем во сколько удобно и не считаем часы за работой. Мы готовы к-->
<!--                                сдвигам в графике, если это не мешает взаимодействию и результату.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Мы подключаем сотрудников к ДМС после испытательного срока.-->
<!--                            </li>-->
<!--                            <li class="marker-li__item">-->
<!--                                Есть бюджет на обучение.-->
<!--                            </li>-->
<!--                        </ul>-->
                    </article>
                </div>
            </div>
        </section>
    </main>

    <footer class="main-container__footer">
        <div class="container">
            <div class="footer-site">
                <div class="footer-site__copyright">
                    &#169; 2022 AZBOOKA
                </div>

                <div class="footer-site__links">
                    <nav class="footer-site__nav footer-links">
                        <a href="#who-we-are" class="footer-links__item" ng-click="goTo('who-id')">
                            О нас
                        </a>
                        <a href="#internship" class="footer-links__item" ng-click="goTo('internship')">
                            Стажировки
                        </a>
                        <a href="#vacancy" class="footer-links__item" ng-click="goTo('vacancy')">
                            Вакансии
                        </a>
                        <a href="tel:+79122481622" class="footer-links__item">
                            +7 (912) 248 16 22
                        </a>
                    </nav>

                </div>

            </div>
            <div class="thankyou__message">
                <span>
          Ваше сообщение отправлено. Скоро мы свяжемся с Вами!
        </span>
            </div>
        </div>
    </footer>

    <div class="simple-popup" ng-class="{active: simplePopup}">
        <div class="form-elements">
            <div class="simple-popup__header">
                <div class="simple-popup__close" ng-click="simplePopup = false">&times;</div>
            </div>
            <form id="form_top" class="gform simple-form">
                <!--method="POST" action="https://script.google.com/macros/s/AKfycbyRmbET_mP_qKUdCCz7vsniiqqd5SGyB7-ST3Lt3g/exec"-->
                <div class="form-elements">
                    <fieldset class="simple-form__line">
                        <label htmlFor="name" class="simple-form__label">
                            ФИО
                        </label>
                        <input type="text" name="name" id="name" style="border-radius: 10px"
                               class="simple-form__input">
                    </fieldset>
                    <fieldset class="simple-form__line">
                        <label htmlFor="email" class="simple-form__label">
                            Контакты
                        </label>
                        <input style="border-radius: 10px" type="tel" name="email" id="email"
                               class="simple-form__input">
                    </fieldset>
                    <fieldset class="simple-form__line">
                        <label htmlFor="message" class="simple-form__label">
                            Ваше сообщение
                        </label>
                        <textarea style="border-radius: 10px" name="message" id="message"
                                  class="simple-form__textarea"></textarea>
                    </fieldset>

                    <div>
                        <button style="justify-content: center; align-items: center;"
                                class="aside-container__btn aside-container__btn_flex" onClick="sendEmail()"
                                ng-click="simplePopup = false">
                            Отправить
                        </button>
                    </div>
                </div>
            </form>
        </div>


        <script>
            $(function () {
                $('.popup-gallery__carousel img:gt(0)').hide();
                $('.carousel__btn-bg-right').click(function () {
                    $('.popup-gallery__carousel :first-child').fadeOut()
                        .next('img').fadeIn()
                        .end().appendTo('.popup-gallery__carousel');
                });
                $('.carousel__btn-bg-left').click(function () {
                    $('.popup-gallery__carousel :first-child').fadeOut()
                        .prev('img').fadeIn()
                        .end().appendTo('.popup-gallery__carousel');
                });
            });
        </script>
