<div class="main-container" ng-class="{active: simplePopup || feedbackPopupJava || feedbackPopupTest || popupGallery, newone: mapPopup}">
<div class="main-container__up ">
    <div class="main-container__top">
        <header class="main-container__header">
            <div class="container">
                <div class="top-site">
                    <a href="/" class="top-site__logo">
                        <div style="width: 180px; margin-right: 24px">
                            <img src="../images/azbookaLogo.svg" alt="">
                        </div>
                    </a>

<!--                    <div class="top-site__menu">-->
<!--                        <div class="top-site__burger" ng-click="mobileMenu = mobileMenu ? false : true"></div>-->
<!--                        <nav class="main-navigation" ng-class="{active: mobileMenu}">-->
<!--                            <a href="#who-we-are" class="main-navigation__link" ng-click="goTo('who-id')">-->
<!--                                О нас-->
<!--                            </a>-->
<!--                            <a href="#internship" class="main-navigation__link" ng-click="goTo('internship')">-->
<!--                                О нас-->
<!--                            </a>-->
<!--                            <a href="#vacancy" class="main-navigation__link" ng-click="goTo('vacancy')">-->
<!--                                О нас-->
<!--                            </a>-->
<!--                            <a href="tel:73112875444" class="main-navigation__link">-->
<!--                                +7 (11) 222 54 44-->
<!--                            </a>-->
<!--                        </nav>-->

<!--                    </div>-->
                </div>
            </div>
        </header>

        <div class="main-container__promo">
            <div class="container">
                <section class="main-screen">
                    <section class="main-screen__head">
                        <h1 class="main-screen__title">
                            Азбука
                        </h1>
                        <h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                        </h3>

                        <aside class="main-screen__side aside-container">
                            <h2 class="aside-container__title">
                                Свяжитесь с нами.
                            </h2>

                            <div class="aside-container__btn-container">
                                <a class="aside-container__btn" ng-click="simplePopup = simplePopup ? false : true">
                                    Связаться
                                </a>
                            </div>
                        </aside>

                    </section>
            </div>
        </div>
    </div>
</div>

    <main class="main-container__content" id="who-we-are">
        <section id="who-id">
            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h2 class="info-about__title">
                            Lorem ipsum dolor sit amet
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                        </p>
                    </article>

                </div>
            </div>
        </section>

        <section id="internship">
            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h2 class="info-about__title">
                            Lorem ipsum dolor sit amet
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                        </p>
                    </article>
                </div>
            </div>
        </section>

        <section id="vacancy">

            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h2 class="info-about__title">
                            Lorem ipsum dolor sit amet
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                        </p>
                </div>
            </div>

            <div class="container">
                <div class="content-block">
                    <article class="info-about">
                        <h2 class="info-about__title">
                            Lorem ipsum dolor sit ame
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi enim facilis ipsum
                            provident. A aliquam atque, commodi culpa delectus id magni numquam quidem quo repellat sunt
                            velit voluptas voluptates.
                        </p>
                    </article>
                </div>
            </div>
        </section>
    </main>

    <footer class="main-container__footer">
        <div class="container">
            <div class="footer-site">
                <div class="footer-site__copyright">
                    &#169; 2022 azbooka
                </div>

                <div class="footer-site__links">
                    <nav class="footer-site__nav footer-links">
                        <a href="#who-we-are" class="footer-links__item" ng-click="goTo('who-id')">
              О нас
            </a>
                        <a href="#internship" class="footer-links__item" ng-click="goTo('internship')">
              Стажировки
            </a>
                        <a href="#vacancy" class="footer-links__item" ng-click="goTo('vacancy')">
              Вакансии
            </a>
                        <a href="tel:88002000600" class="footer-links__item">
              +7 (343) 287 54 44
            </a>
                    </nav>

                </div>

            </div>
            <div class="thankyou__message">
                <span>
          Ваше сообщение отправлено. Скоро мы свяжемся с Вами!
        </span>
            </div>
        </div>
    </footer>

    <div class="simple-popup" ng-class="{active: simplePopup}">
        <div class="form-elements">
            <div class="simple-popup__header">
                <h2>Сообщение</h2>
                <div class="simple-popup__close" ng-click="simplePopup = false">&times;</div>
            </div>
            <form id="form_top" class="gform simple-form">
                <!--method="POST" action="https://script.google.com/macros/s/AKfycbyRmbET_mP_qKUdCCz7vsniiqqd5SGyB7-ST3Lt3g/exec"-->
                <div class="form-elements">
                    <fieldset class="simple-form__line">
                        <label for="name" class="simple-form__label">
            ФИО
          </label>
                        <input type="text" name="name" id="name" style="border-radius: 10px" class="simple-form__input">
                    </fieldset>
                    <fieldset class="simple-form__line">
                        <label for="email" class="simple-form__label">
            Контакты
          </label>
                        <input style="border-radius: 10px" type="tel" name="email" id="email" class="simple-form__input">
                    </fieldset>
                    <fieldset class="simple-form__line">
                        <label for="message" class="simple-form__label">
            Ваше сообщение
          </label>
                        <textarea style="border-radius: 10px" name="message" id="message" class="simple-form__textarea"></textarea>
                    </fieldset>

                    <div>
                        <button style="justify-content: center; align-items: center;" class="aside-container__btn aside-container__btn_flex" onclick="sendEmail()" ng-click="simplePopup = false">
                            Отправить
                        </button>
                    </div>
                </div>
            </form>
        </div>


        <script>
            $(function() {
                $('.popup-gallery__carousel img:gt(0)').hide();
                $('.carousel__btn-bg-right').click(function() {
                    $('.popup-gallery__carousel :first-child').fadeOut()
                        .next('img').fadeIn()
                        .end().appendTo('.popup-gallery__carousel');
                });
                $('.carousel__btn-bg-left').click(function() {
                    $('.popup-gallery__carousel :first-child').fadeOut()
                        .prev('img').fadeIn()
                        .end().appendTo('.popup-gallery__carousel');
                });
            });
        </script>